<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <style>
        body {
            text-align: center;
            background-color: aliceblue;
        }
        ul {
            width: fit-content;
            margin: auto;
        }
        li {
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Admin Page</h2>
    <h3>IP URLs List</h3>
    <ul>
        {% for label, url in ip_urls.items() %}
            <li>
                {{ label }}: {{ url }}
                <form action="/admin/delete_url?opt=ip" method="post" style="display: inline;">
                    <input type="hidden" name="label" value="{{ label }}">
                    <input type="hidden" name="username" value="admin">
                    <input type="hidden" name="password" value="password">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
    <h3>Domain URLs List</h3>
    <ul>
        {% for label, url in domain_urls.items() %}
            <li>
                {{ label }}: {{ url }}
                <form action="/admin/delete_url?opt=domain" method="post" style="display: inline;">
                    <input type="hidden" name="label" value="{{ label }}">
                    <input type="hidden" name="username" value="admin">
                    <input type="hidden" name="password" value="password">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
    <h3>URLs List</h3>
    <ul>
        {% for label, url in url_urls.items() %}
            <li>
                {{ label }}: {{ url }}
                <form action="/admin/delete_url?opt=url" method="post" style="display: inline;">
                    <input type="hidden" name="label" value="{{ label }}">
                    <input type="hidden" name="username" value="admin">
                    <input type="hidden" name="password" value="password">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
    <h3>Add URL</h3>
    <form action="/admin/add_url" method="post">
        <label for="label">Label:</label>
        <input type="text" id="label" name="label" required><br><br>
        <label for="url">URL:</label>
        <input type="url" id="url" name="url" required><br><br>
        <input type="hidden" name="username" value="admin">
        <input type="hidden" name="password" value="password">
        <label for="addTo">Add to</label><br>
        <select id="addTo" name="addTo">
            <option value="IP Address">IP Address</option>
            <option value="Domain">Domain</option>
            <option value="URL">URL</option>
        </select><br><br>
        <input type="submit" value="Add URL">
    </form>
    <h3>Upload a Text File</h3>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" required><br><br>
        <label for="source">Source</label>
        <input type="text" name="source" id="source" required><br><br>
        <label for="upload_to">Upload to</label><br>
        <select id="upload_to" name="upload_to">
            <option value="IP Address">IP Address</option>
            <option value="Domain">Domain</option>
            <option value="URL">URL</option>
        </select><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
